.home {
    h1 {
        text-align: center;
        border-bottom: 2px solid rgba(36, 39, 76, 0.3);
        padding-bottom: 20px;
        margin-bottom: 25px;
    }
    section {
        padding: 50px 0px;
        .service {
            margin: 125px 0 75px 0;
            img {
                width: 300px;
                margin: auto;
            }
            p {
                text-align: justify;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .wrap {
        padding: 0 12px;
    }

    .home .services h2 {
        text-align: center;
    }
}
