---
layout: default
---

<div class="home container">
    <section class="vision col-sm-10 col-sm-offset-1" id="{{site.data.home.vision.anchor}}">
        <h1>{{site.data.home.vision.title}}</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <h2>{{site.data.home.vision.problem.title}}</h2>
                </div>
                <div class="row">
                    <img class="img-responsive" src="{{site.data.home.vision.problem.image}}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h2>{{site.data.home.vision.solution.title}}</h2>
                </div>
                <div class="row">
                    <img class="img-responsive" src="{{site.data.home.vision.solution.image}}">
                </div>
            </div>
        </div>
        <div class="row">
            {% for paragraph in site.data.home.vision.details %}
            <p>{{paragraph}}</p>
            {% endfor %}
        </div>
    </section>

    <section class="services col-sm-10 col-sm-offset-1">
        <h1>{{site.data.home.services.title}}</h1>
        <div class="row" id="{{site.data.home.services.api.anchor}}">
            <div class="col-sm-5">
                <img class="img-responsive" src="{{site.data.home.services.api.image}}">
            </div>
            <div class="col-sm-6 col-sm-offset-1 section-text">
                <h2>{{site.data.home.services.api.title}}</h2>

                {% for paragraph in site.data.home.services.api.details %}
                <p>{{paragraph}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row" id="{{site.data.home.services.dashboard.anchor}}">
            <div class="col-sm-5 visible-xs">
                <img class="img-responsive" src="{{site.data.home.services.realtime.image}}">
            </div>
            <div class="col-sm-6 section-text">
                <h2>{{site.data.home.services.realtime.title}}</h2>

                {% for paragraph in site.data.home.services.realtime.details %}
                <p>{{paragraph}}</p>
                {% endfor %}
            </div>
            <div class="col-sm-5 col-sm-offset-1 hidden-xs">
                <img class="img-responsive" src="{{site.data.home.services.realtime.image}}">
            </div>
        </div>
        <div class="row" id="{{site.data.home.services.realtime.anchor}}">
            <div class="col-sm-5">
                <img class="img-responsive" src="{{site.data.home.services.dashboard.image}}">
            </div>
            <div class="col-sm-6 col-sm-offset-1 section-text">
                <h2>{{site.data.home.services.dashboard.title}}</h2>

                {% for paragraph in site.data.home.services.dashboard.details %}
                <p>{{paragraph}}</p>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
