<footer>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="row">
      <div class="logo-container">
        <img src="{{ site.data.footer.icon }}">
      </div>
    </div>
    <div class="row links-container">
      <h3>{{ site.data.footer.contact }}</h3>
      <a href="mailto:{{ site.data.social.email.address }}">
        <img src="{{ site.data.social.email.icon }}">
      </a>
      <a href="{{ site.data.social.github.username | prepend: site.data.social.github.base_url }}">
        <img src="{{ site.data.social.github.icon }}">
      </a>
      <a href="{{ site.data.social.twitter.username | prepend: site.data.social.twitter.base_url }}">
        <img src="{{ site.data.social.twitter.icon }}">
      </a>
      <a href="{{ site.data.social.linkedin.username | prepend: site.data.social.linkedin.base_url }}">
        <img src="{{ site.data.social.linkedin.icon }}">
      </a>
    </div>
    <div class="row email-subscription">
            <form>
                <div class="input-group input-group-lg">
                    <input type="email" name="email" placeholder="{{site.data.footer.subscription.placeholder}}"
                           class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">{{site.data.footer.subscription.submit}}</button>
                </span>
                </div>
            </form>
        </div>
  </div>
</footer>
