<nav class="navbar navbar-default openify-navbar hidden-xs hidden-sm" role="navigation">
    <div class="container">
        <div class="openify-navbar-header pull-left">
            <img class="openify-navbar-logo" src="{{site.data.scrollspy.logo}}">
        </div>
        <div class="openify-navbar-links pull-right" id="content-scrollspy">
            <ul class="nav">
                <li><a href="#{{site.data.home.vision.anchor}}">
                    {{site.data.home.vision.title}}</a></li>
                <li><a href="#{{site.data.home.services.api.anchor}}">
                    {{site.data.home.services.api.title}}</a></li>
                <li><a href="#{{site.data.home.services.realtime.anchor}}">
                    {{site.data.home.services.realtime.title}}</a></li>
                <li><a href="#{{site.data.home.services.dashboard.anchor}}">
                    {{site.data.home.services.dashboard.title}}
                </a></li>
                <li><a href="#{{site.data.footer.anchor}}">
                    {{site.data.footer.title}}
                </a></li>
            </ul>
        </div>
    </div>
</nav>
