<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <img src="{{site.data.scrollspy.logo}}">
            </div>
        </div>
        <div id="content-scrollspy">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#{{site.data.home.services.api.anchor}}">
                    {{site.data.home.services.api.title}}</a></li>
                <li><a href="#{{site.data.home.services.realtime.anchor}}">
                    {{site.data.home.services.realtime.title}}</a></li>
                <li><a href="#{{site.data.home.services.dashboard.anchor}}">
                    {{site.data.home.services.dashboard.title}}
                </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>