/* Base */
/* ----------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #24274c;
}

.home h1 {
    text-align: center;
    border-bottom: 2px solid rgba(36, 39, 76, 0.3);
    padding-bottom: 20px;
}

p {
    color: #636363;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #205caa;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

header {
    height: 100%;
    background-image: url('../images/header.jpg');
    background-position: center;
}

header .logo-container {
    padding-top: 20%;
    width: 50%;
    margin: auto;
}

header .logo-container > img {
    width: 100%;
}

header .openify-scroll-to-container {
    position: absolute;
    width: 100%;
    bottom: 10%;
}

header .openify-scroll-to {
    width: 50px;
    height: 50px;
    background-image: url("/assets/images/scroll.png");
    background-position: 0 0;
    cursor: pointer;
    margin: auto;
}

header .openify-scroll-to:hover {
    background-position: 0 50px;
}

/* Site footer */

footer {
    background-color: #24274c;
    min-height: 700px;
    padding: 50px 0 30px 0;
    text-align: center;
}

footer h3 {
    margin-top: 100px;
    color: white;
}

footer .email-subscription {
    margin: 30px auto;
}

.openify-input:focus{
    border-color: #ffffff;
    box-shadow: none;
    -moz-box-shadow: none;
}

.openify-input, .openify-form-button  {
    border-radius: 0 !important;
    background-color: #24274c;
    border: solid 2px #f5f5f5;
    color: #cccccc;
}

.openify-form-button:hover{
    color: #ffffff;
}

footer .logo-container {
    text-align: center;
}

footer .links-container {
    margin-top: 20%;
    text-align: center;
}

footer .links-container > h3 {
    color: white;
    margin: 0 0 30px 0;
}

footer .links-container > a {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid white;
    display: inline-block;
    margin: 0 15px;
}

footer .links-container > a > img {
    max-height: 50%;
    margin-top: 25%;
    transition: ease 0.2s;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    -o-transition: ease 0.2s;
}

footer .links-container > a > img:hover {
    max-height: 55%;
    margin-top: 16px;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 {
    margin-bottom: 25px;
    font-size: 4em;
}

.home section img {
    width: 300px;
    margin: auto;
}

.home section p {
    text-align: justify;
}

.section-text {
    margin-top: 20px;
}

.home .services {
    padding: 30px 0px;
}

.home .services .row {
    padding: 50px 0px;
}

@media screen and (max-width: 600px) {
    .wrap {
        padding: 0 12px;
    }

    .home .services h2 {
        text-align: center;
    }
}
